[submodule "vendors/quel+dune/quel"]
	path = vendors/quel+dune/quel
	url = https://bitbucket.org/knih/quel.git
[submodule "vendors/angstrom/angstrom"]
	path = vendors/angstrom/angstrom
	url = git@github.com:inhabitedtype/angstrom.git
