[submodule "vendors/quel+dune/quel"]
	path = vendors/quel+dune/quel
	url = git@github.com:kinten108101/quel.git
[submodule "vendors/angstrom/angstrom"]
	path = vendors/angstrom/angstrom
	url = git@github.com:inhabitedtype/angstrom.git
[submodule "vendors/cmarkit+dune/cmarkit"]
	path = vendors/cmarkit+dune/cmarkit
	url = git@github.com:kinten108101/cmarkit.git
[submodule "vendors/iter+melange/iter"]
	path = vendors/iter+melange/iter
	url = git@github.com:c-cube/iter.git
