@import "/styles/variables.css";
@import "/styles/widget-variables.css";
#root > main.edit *[hidden=true] {
  display:none;
}
/* temp */
#root > main.edit > .edit * {
  /* border: 1px solid var(--card-border); */
  box-sizing: border-box;
  color: var(--ctp-text);
}
#root > main.edit > .edit input[type=text] {
  font-size: var(--text-base);
  outline: none;
	background-color: var(--ctp-crust);
  border-radius: var(--radius);
  border: 1px solid var(--ctp-surface0);
  color: var(--ctp-text);
  caret-color: var(--ctp-text);
  padding: var(--space-a);
}
#root > main.edit > .edit *::placeholder {
  font-size: var(--text-base);
  font-style: italic;
  color: var(--ctp-subtext0);
}
#root > main.edit > .edit label {
  color: var(--ctp-subtext0);
  font-size: var(--text-sm);
}

#root > main.edit > .edit > * {
  /* border: 1px solid var(--card-border); */
  padding: var(--space-a);
  border-bottom: 1px solid var(--card-border);
}

#root > main.edit > .edit > header {
	display: flex;
  flex-wrap: wrap;
	flex-direction: row;
  justify-content: flex-end; 
  gap: var(--space-c);
  border-bottom: 1px solid var(--card-border);
  background-color: var(--ctp-mantle);
}
#root > main.edit > .edit > header > .save {
  padding: var(--space-c);
  border: 1px solid var(--ctp-yellow);
  color: var(--ctp-yellow);
  background-color: color-mix(in srgb, var(--ctp-yellow), transparent 75%);
  border-radius: var(--radius);
  transition-property: all;
}
#root > main.edit > .edit > header > .save:hover {
  border: 1px solid var(--ctp-yellow);
  color: white;
  background-color: var(--ctp-yellow);
}
#root > main.edit > .edit > header > .publish {
  padding: var(--space-c);
  border: 1px solid var(--ctp-green);
  color: var(--ctp-green);
  background-color: color-mix(in srgb, var(--ctp-green), transparent 75%);
  border-radius: var(--radius);
  transition-property: all;
}
#root > main.edit > .edit > header > .publish:hover {
  border: 1px solid var(--ctp-green);
  color: white;
  background-color: var(--ctp-green);
}
#root > main.edit > .edit > header > .cancel {
  padding: var(--space-c);
  border: 1px solid var(--ctp-red);
  color: var(--ctp-red);
  background-color: color-mix(in srgb, var(--ctp-red), transparent 75%);
  border-radius: var(--radius);
  transition-property: all;
}
#root > main.edit > .edit > header > .cancel:hover {
  border: 1px solid var(--ctp-red);
  color: white;
  background-color: var(--ctp-red);
}

#root > main.edit > .edit > header> .dropdown {
  padding: var(--space-c);
  background-color: var(--ctp-crust);
  border-radius: var(--radius);
  color: var(--ctp-subtext0)
}
#root > main.edit > .edit > header> .dropdown:hover {
  color: var(--ctp-text)
}
#root > main.edit > .edit > header> .settings {
  padding: var(--space-c);
  background-color: var(--ctp-crust);
  border-radius: var(--radius);
  width:100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0,1fr));
  grid-template-rows: auto auto;
  gap: var(--space-c);
}
#root > main.edit > .edit > header> .settings > * {
  background-color: var(--ctp-mantle);
  display: grid;
  padding: var(--space-c);
  gap: var(--space-c);
  border-radius: var(--radius);
}
#root > main.edit > .edit > header> .settings > .commit-message {
  grid-row: 1/2;
}
#root > main.edit > .edit > header> .settings > .tags {
  grid-row: 2/3;
}
#root > main.edit > .edit > header> .settings > .tags > ul {
  list-style: none;
  display:flex;
  flex-direction: row;
  overflow-wrap: normal;
  overflow-x: auto;
  gap: var(--space-c);
  height: max-content;
  width: 100%;
  padding: var(--space-c);
  scrollbar-color: var(--card-border) transparent;
  scrollbar-width: thin;
	background-color: transparent;
}
#root > main.edit > .edit > header> .settings > .tags > ul > li > span{
	display: grid;
  grid-auto-flow: row;
  grid-template-columns: min-content min-content;
  white-space: nowrap;
  font-size: var(--text-xs);
  padding: var(--space-f) var(--space-c);
  border: 1px solid var(--ctp-text);
  color: var(--ctp-text);
  border-radius: var(--radius);
  height: min-content;
}
#root > main.edit > .edit > header> .settings > .tags > ul > li > span:hover {
  cursor:pointer;
}
dialog {
	margin: 0;
	position: relative;
	height: 0;
	width: 0;
	padding: 0;
	border: 0;
	transition: none;
	overflow: visible;
}
#root > main.edit > .edit > header> .settings > .tags > dialog{
  overflow: visible;
  width: 100%;
}
#root > main.edit > .edit > header> .settings > .tags > dialog > ol {
  display: flex;
  flex-direction: column;
  gap: var(--space-c);
  height: fit-content;
  width: 100%;
  padding: var(--space-c);
  background-color: var(--ctp-surface0);
  border-radius: var(--radius);
  z-index: 9999;
}
#root > main.edit > .edit > header> .settings > .tags > dialog > ol {
  max-height: calc(15*var(--space-a));
  overflow-y: scroll;
  scrollbar-color: var(--card-border) transparent;
  scrollbar-width: thin;
  overflow-wrap: break-word;
}
#root > main.edit > .edit > header> .settings > .tags > dialog > ol > li {
  height: fit-content;
  color: var(--ctp-subtext0);
  border-radius: var(--radius);
  width: 100%;
}
#root > main.edit > .edit > header> .settings > .tags > dialog > ol > li:hover {
  color: var(--ctp-text);
  text-decoration: underline;
  cursor: pointer;
}
#root > main.edit > .edit > header> .settings > .commit-options {
  grid-row: 1/3;
}
#root > main.edit > .edit > .toolbar {
  background-color: var(--ctp-crust);
  gap: var(--space-c);
	display: flex;
  flex-wrap: wrap;
	flex-direction: row;
}
#root > main.edit > .edit > .toolbar > label {
  color: var(--ctp-subtext0);
  font-size: var(--text-sm);
  border-left: 2px solid var(--ctp-mantle);
  padding-left: var(--space-c);
}
#root > main.edit > .edit > .toolbar > #togglePreviewEditing {
  border-radius: var(--radius);
  padding: 0 var(--space-c);
}
#root > main.edit > .edit > .toolbar > #togglePreviewEditing.previewing {
  border: 1px solid var(--ctp-blue);
  color: var(--ctp-blue);
}#root > main.edit > .edit > .toolbar > #togglePreviewEditing.editing {
  border: 1px solid var(--ctp-green);
  color: var(--ctp-green);
}
#root > main.edit > .edit > main.markdown {
  background-color: var(--ctp-base);
}

#root > main.edit > .edit > .editing {
  background-color: var(--ctp-base);
  display: grid;
  gap: var(--space-c);
}
#root > main.edit > .edit > .editing > .title {
  padding: var(--space-c);
  display: grid;
  background-color: var(--ctp-mantle);
  border-radius: var(--radius) var(--radius) 0 0;
  gap: var(--space-c);
  border: 1px solid var(--card-border);
}
/* #root > main.edit > .edit > .editing > .title > label {
  color: var(--ctp-subtext0);
  font-size: var(--text-sm);
} */

/* #root > main.edit > .edit > .editing > .title > input {
  font-size: var(--text-base);
  outline: none;
	background-color: var(--ctp-crust);
  border-radius: var(--radius);
  border: 1px solid var(--ctp-surface0);
  color: var(--ctp-text);
  caret-color: var(--ctp-text);
  padding: var(--space-a);
} */
#root > main.edit > .edit > .editing > .body {
  background-color: var(--ctp-mantle);
  display: grid;
  gap: 0;
  padding: 0;
  height: calc(30*(var(--text-base)));
  overflow-y: scroll;
  scrollbar-color: var(--card-border) transparent;
  scrollbar-width: thin;
  border: 1px solid var(--card-border);
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content;
}
#root > main.edit > .edit > .editing > .body > .row-number {
  color: var(--ctp-subtext0);
  grid-column:1/2;
  grid-row:1/2;
  text-align: right;
  white-space: pre-wrap;
  word-break: break-word;
  pointer-events: none;
  user-select:none;
  background-color: var(--ctp-base);
  border-right: 1px solid var(--card-border);
  padding: 0 var(--space-c);
}
#root > main.edit > .edit > .editing > .body > .body-input {
  grid-column:2/3;
  grid-row:1/2;
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  outline: none;
	background-color: var(--ctp-crust);
  border: 0;
  padding: 0 var(--space-c);
  scrollbar-color: var(--card-border) transparent;
  scrollbar-width: thin;
	background-color: transparent;
  resize: none;
  caret-color: var(--ctp-text);
}
/* #root > main.edit > .edit > .editing > .body > .ghost {
  grid-column:2/3;
  grid-row:1/2;
  z-index: -9;
  white-space: pre-wrap;
  word-break: none;
  pointer-events: none;
  user-select: none;
  border: 1px solid var(--card-border);
  padding: 0 var(--space-c);
  opacity: 0%;
} */
#root > main.edit > .edit > .editing > .body > .text-style {
  font-size: var(--text-base);
  font-family: var(--font-mono);
  font-weight: var(--font-weight-normal);
  line-height: 1.5;
  font-style: normal;
}
#root > main.edit > .edit > footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--space-c);
  justify-content: space-between;
}
#root > main.edit > .edit > footer > .stats {
  display:grid;
}
#root > main.edit > .edit > footer > .stats * {
  font-size: var(--text-sm);
  font-family: var(--font-mono);
  font-weight: var(--font-weight-normal);
}
#root > main.edit > .edit > footer > .stats > .char::before {
  content: "$ wc -m # => ";
  color: var(--ctp-subtext0);
}
#root > main.edit > .edit > footer > .stats > .char {
  color: var(--ctp-pink);
}
#root > main.edit > .edit > footer > .stats > .word::before {
  content: "$ wc -w # => ";
  color: var(--ctp-subtext0);
}
#root > main.edit > .edit > footer > .stats > .word {
  color: var(--ctp-cyan);
}
#root > main.edit > .edit > footer > .error {
  color: var(--ctp-red);
  padding: var(--space-a);
	background-color: color-mix(in srgb, var(--ctp-red), transparent 75%);
	border: 1px solid var(--ctp-red);
}