@import "/styles/variables.css";
@import "/styles/widget-variables.css";
#root > main.log *[hidden=true] {
  display:none;
}

#root > main.log > header {
	background-color: var(--ctp-mantle);
}
#root > main.log > header {
	display: grid;
	grid-template-columns: 2.5rem minmax(0,1fr) min-content;
	grid-template-rows: min-content min-content min-content;
	padding: var(--space-a);
}
#root > main.log > header > h1 {
	justify-self: start;
	align-self: center;
}
#root > main.log > header > .sub {
	font-size: var(--text-xs);
	display: flex;
	align-items: center;
	margin-top: var(--space-f);
}
#root > main.log > header > .sub > :not(:first-child) {
	border-left: solid 1px var(--ctp-surface0);
	padding-left: var(--space-a);
	margin-left: var(--space-a);
}
#root > main.log > header > .sub > .command {
	color: var(--card-fg-aux);
}
#root > main.log > header > .sub > .summary {
	font-family: var(--font-mono);
	color: var(--card-fg-aux);
	display: inline flex;
}
#root > main.log > header > .sub > .summary > :not(:first-child) {
	margin-left: 1em;
}
#root > main.log > header > .sub > .summary > .n-comments {
	color: var(--card-fg-accent-1);
}
#root > main.log > header > .sub > .summary > .n-comments::after {
	content: " comments";
}
#root > main.log > header > .sub > .summary > .karma::before {
	content: "+";
}
#root > main.log > header > .sub > .summary > .karma::after {
	content: " karma";
}
#root > main.log > header > :first-child {
	grid-row: 1 / 3;
	grid-column: 1 / 2;
	justify-self: center;
	align-self: center;
}
#root > main.log > header > :nth-child(2) {
	grid-row: 1 / 2;
	grid-column: 2 / 3;
}
#root > main.log > header > :nth-child(3) {
	grid-row: 2 / 3;
	grid-column: 2 / 3;
}
#root > main.log > header > :nth-child(4) {
	grid-row: 1 / 3;
	grid-column: 3 / 4;
	white-space: nowrap;
}
#root > main.log > header > :last-child {
	grid-row: 3 / 4 /* -2 / -1 */;
	grid-column: 1 / -1;
}

#root[data-tileset="gui"] > main.log > header > .logo {
	background-image: url("/assets/icon.timeback.violet.svg");
	background-size: 1em 1em;
	width: 1em;
	height: 1em;
}
#root > main.log > header > h1 {
	color: var(--card-fg);
	font-family: var(--font-mono);
	font-size: var(--text-sm);
}

#root > main.log > header > nav {
	margin-top: var(--space-a);
	background-color: var(--card-bg-translucent);
	border: solid 1px var(--card-border);
	padding: var(--space-a);
}

#root > main.log > header > .action {
	background-color: var(--ctp-crust);
	border: solid 1px var(--ctp-surface0);
  width: max-content;
  color: var(--ctp-subtext0);
}
#root > main.log > header > .action:hover {
  color: var(--ctp-text);
}

#root > main.log > header > h1 {
	color: var(--card-fg);
	font-family: var(--font-mono);
	font-size: var(--text-sm);
}

#root > main.log > header > nav {
	margin-top: var(--space-a);
	background-color: var(--card-bg-translucent);
	border: solid 1px var(--card-border);
	padding: var(--space-a);
}
#root > main.log > main {
	border-top: solid 1px var(--card-border);
	background-color: var(--global-bg);
}
#root > main.log > .log > ol * {
  /* border: 1px solid var(--card-border); */
  /* box-sizing: border-box; */
  color: var(--ctp-text);
}

#root > main.log > .log > ol {
  display: grid;
  row-gap: var(--space-a);
  column-gap: var(--space-c);
  padding: var(--space-a);
  grid-template-columns: max-content max-content max-content 1fr max-content max-content;
}
#root > main.log > .log > ol > .card {
  grid-column: 1/-1;
  background-color: var(--ctp-mantle);
  border: 1px solid var(--ctp-crust);
  padding: var(--space-c);
  display: grid;
  grid-template-columns: subgrid;
  gap: var(--space-a);
}

#root > main.log > .log > ol> .card > header {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: subgrid;
  gap: var(--space-c);
}
#root > main.log > .log > ol> .card > header > .show-hide {
  grid: 1/1/span 1/span 1;
  height:100%;
  aspect-ratio: 1;
  border-radius: var(--radius);
  padding: var(--space-a);
  display: flex;
  align-items: center;
}
#root > main.log > .log > ol> .card > header > .show-hide:hover {
  background-color: var(--ctp-surface0);
}
#root > main.log > .log > ol> .card.expand > header > .show-hide {
  height:100%;
  aspect-ratio: 1;
  transform: rotate(90deg);
}
#root > main.log > .log > ol> .card > header > .spacer {
  grid: 1/2/span 1/span 1;
  height: 100%;
  width: 1px;
  background-color: var(--ctp-subtext0);
}
#root > main.log > .log > ol> .card > header > .cid {
  grid: 1/3/span 1/span 1;
}
#root > main.log > .log > ol> .card > header > .message {
  grid: 1/4/span 1/span 1;
  flex-grow: 1;
  text-wrap: wrap;
}
#root > main.log > .log > ol> .card > header > .author::before {
  content: "@";
}
#root > main.log > .log > ol> .card > header > .author {
  grid: 1/5/span 1/span 1;
  color: var(--primary);
}
#root > main.log > .log > ol> .card > header > .timestamp {
  grid: 1/6/span 1/span 1;
  color: var(--ctp-subtext0);
}
#root > main.log > .log > ol> .card > main {
  grid-column: 1/-1;
  display: grid;
  gap: var(--space-c);
}
#root > main.log > .log > ol> .card > main > .tags::before {
  content: "Tags: "
}
#root > main.log > .log > ol> .card > main > .tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: var(--space-f);
  background-color: var(--ctp-mantle);
}
#root > main.log > .log > ol> .card > main > .title {
  display: grid;
  background-color: var(--ctp-mantle);
}
#root > main.log > .log > ol> .card > main > .title  input {
  font-size: var(--text-base);
  outline: none;
	background-color: var(--ctp-crust);
  border-radius: var(--radius);
  border: 1px solid var(--ctp-surface0);
  color: var(--ctp-text);
  caret-color: var(--ctp-text);
  padding: var(--space-a);
}
#root > main.log > .log > ol> .card > main > .body {
  background-color: var(--ctp-mantle);
  display: grid;
  gap: 0;
  padding: 0;
  height: calc(10*(var(--text-base)));
  overflow-y: scroll;
  scrollbar-color: var(--card-border) transparent;
  scrollbar-width: thin;
  border: 1px solid var(--card-border);
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content;
}
#root > main.log > .log > ol> .card > main > .body > .row-number {
  color: var(--ctp-subtext0);
  grid-column:1/2;
  grid-row:1/2;
  text-align: right;
  white-space: pre-wrap;
  word-break: break-word;
  pointer-events: none;
  user-select:none;
  background-color: var(--ctp-base);
  border-right: 1px solid var(--card-border);
  padding: 0 var(--space-c);
}
#root > main.log > .log > ol> .card > main > .body > .body-input {
  grid-column:2/3;
  grid-row:1/2;
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  outline: none;
	background-color: var(--ctp-crust);
  border: 0;
  padding: 0 var(--space-c);
  scrollbar-color: var(--card-border) transparent;
  scrollbar-width: thin;
	background-color: transparent;
  resize: none;
  caret-color: var(--ctp-text);
}
#root > main.log > .log > ol> .card > main > .body > .text-style {
  font-size: var(--text-base);
  font-family: var(--font-mono);
  font-weight: var(--font-weight-normal);
  line-height: 1.5;
  font-style: normal;
}
.diff-box .side-by-side > :is(.diff1,.diff2){
  display: grid;
  gap: var(--space-c);
  grid-template-columns: max-content 1fr;
}
.diff-box .side-by-side > :is(.diff1,.diff2)> *{
  grid-area: auto/1/span 1/3;
  color: var(--ctp-subtext0);
  font-size: var(--text-sm);
}
.diff-box .side-by-side > :is(.diff1,.diff2)> label{
  grid-area: 1/1/2/2;
  color: var(--ctp-subtext0);
  font-size: var(--text-sm);
}
.diff-box .side-by-side > :is(.diff1,.diff2)> .cid{
  grid-area: 1/2/2/3;
}
.diff-box .side-by-side > :is(.diff1,.diff2) > .title  input {
  font-size: var(--text-base);
  outline: none;
	background-color: var(--ctp-crust);
  border-radius: var(--radius);
  border: 1px solid var(--ctp-surface0);
  color: var(--ctp-text);
  caret-color: var(--ctp-text);
  padding: var(--space-a);
}