@import "/styles/variables.css";

@media (max-width: 48rem) {
	#root > .show-hide-sidebar {
	  top: calc(4rem + 2 * var(--space-a));
  }
	#root > .show-hide-sidebar.state1:hover::after{
		content: "Hide Sidebar";
	}
	#root > .show-hide-sidebar.state0:hover::after{
		content: "Show Sidebar";
	}
  #root > aside {
    left: 50%;
    transform: translate(-50%, 0%);
  }
	/* TODO: figure out how to make the track of the scrollbar
			 invisible but the thumb visible */
	#root > aside.state1{
		display: flex !important;
    flex-direction: column;
		position: fixed;
		overflow-y: auto;
		/* height: 80vh;*/
		top: 6rem;
	}
}
@media (min-width: 48rem) {
	#root > .show-hide-sidebar {
    grid-area: 2/4/span 1/span 1;
	  top: unset;
  }
	#root > .show-hide-sidebar.state0:hover::after{
		content: "Hide Sidebar";
	}
	#root > .show-hide-sidebar.state1:hover::after{
		content: "Show Sidebar";
	}
	#root > aside.state0 {
		display: flex !important;
    flex-direction: column;
		grid-column: 3 / 4;
	}
	#root > aside.state1 {
		display: none !important;
		grid-column: 3 / 4;
	}
  #root > aside {
		grid-column: 3 / 4;
		grid-row: 2 / 7;
		width: unset !important;
		height: unset !important;
		left: unset !important;
		transform: unset !important;
	}
}
#root > .show-hide-sidebar::after{
  font-size: var(--text-sm);
  line-height: 1;
  font-weight: var(--font-weight-normal);
}

#root > .show-hide-sidebar{
  box-sizing: border-box;
  font-size: var(--text-sm);
	position: fixed;
	right:0;
	padding: var(--space-a);
	display: flex;
	flex-direction: row;
	align-items: center;
  gap: var(--space-a);
	justify-content: start;
	background-color: var(--card-bg);
	border: solid 1px var(--card-border);
	border-right: 0;
	border-radius: var(--radius) 0 0 var(--radius);
	padding: var(--space-a);
	color: var(--light-b);
	transition-property: border-radius, background-color;
	transition-duration: 0.2s;
  z-index:99;
}
#root > .show-hide-sidebar > .hamburger{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: var(--text-sm);
  gap: 20%;
  aspect-ratio: 1;
}
#root > .show-hide-sidebar > .hamburger > span{
  background-color: var(--card-border);
  height:100%;
  width:100%;
}


#sidebar-search {
	display: none !important;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	white-space: nowrap;
	border: 0;
}

#root > aside *{
	color: var(--ctp-text);
}

#root > aside {
	display:none;
	width: 80vw;
	height: calc(100vh - 6rem - var(--space-a));
  scrollbar-color: var(--card-border) transparent;
  scrollbar-width: thin;
  gap: var(--space-a);
  z-index: 90;
}

#root > aside h2 {
	margin: 0;
}

#root > aside > * > h2::before {
	content: "[";
}

#root > aside > * > h2::after {
	content: "]";
}

#root > aside > section {
	padding: var(--space-a);
	background-color: var(--ctp-crust);
	border: solid 1px var(--ctp-yellow);
	border-radius: var(--radius);
	display: grid;
	gap: var(--space-a);
	grid-template-columns: auto;
	grid-auto-columns: minmax(0, 1fr);
}

#root > aside > section > header {
	display: grid;
	place-items: center start;
	font-weight: var(--font-weight-medium);
}

#root > aside > section > .expand > span {
	display: inline-block; 
	transform:rotate(0deg);
	transition-property: transform;
	transition-duration: 0.2s;
	color: var(--ctp-text);
	height:min-content;
}

#root > aside > section > .expand > span.expanded {
    display: inline-block; 
	transform:rotate(90deg);
}

#root > aside > section > .expand {
	padding: var(--space-a);
	width: 2rem;
	height: 2rem;
	border-radius: var(--radius);
}

#root > aside > section > .expand:hover {
	cursor: pointer;
	background-color: var(--ctp-surface0);
}

/* notes */
#root > aside > section#sidebar-notes {
	border: solid 1px var(--ctp-yellow);
}

#root > aside > section#sidebar-notes > header {
	/* font-weight: bold; */
	grid-column: 1/2;
	grid-row: 1/2;
	color: var(--ctp-yellow);
}

#root > aside > section#sidebar-notes > .expand {
	/* padding: var(--space-a); */
	/* width: 2rem;
	aspect-ratio: 1; */
  	justify-self: end;
	grid-column: 2/3;
	grid-row: 1/2;
}
/* #root > aside > section#sidebar-notes > .expand:hover{
	cursor: pointer;
	background-color: var(--dark-c);
	border-radius: 0.25cm;
} */
/* #root > aside > section#sidebar-notes > .expand:active{
	background-color: var(--dark-a);
}
#root > aside > section#sidebar-notes > .expand > span{
    display: inline-block; 
	transform:rotate(0deg);
	transition-property: transform;
	transition-duration: 0.2s;
	color: var(--dark-d);
} */
/* #root > aside > section#sidebar-notes > .expand > span.expanded{
    display: inline-block; 
	transform:rotate(90deg);
} */

.truncated .text-style {
	white-space: nowrap;       
	min-width: 0;
	overflow-y: hidden;          
	text-overflow: ellipsis;
  max-height: calc(3*var(--text-sm));
}

.truncated .text-style:focus {
	white-space: unset;       
	min-width: unset;
	overflow-y: unset;          
	text-overflow: unset;
  max-height: unset;
}
.truncated :focus+.text-style {
	white-space: unset;       
	min-width: unset;
	overflow-y: unset;          
	text-overflow: unset;
  max-height: unset;
}

#root > aside > section#sidebar-notes > ul {
	grid-column: 1/3;
	grid-row: 2/3;
	display:grid;
	gap: var(--space-a);
  scrollbar-gutter: stable;
  overflow-y: scroll; 
  scrollbar-color: var(--card-border) transparent;
  scrollbar-width: thin;
  box-sizing: border-box;
  max-height: calc(15*var(--space-a));
}
#root > aside > section#sidebar-notes > ul.expanded {
  max-height: calc(30*var(--space-a));
}

#root > aside > section#sidebar-notes > ul > li {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: min-content min-content ;
  column-gap: var(--space-c);
}
#root > aside > section#sidebar-notes > ul > li > span {
	width: 2px;
  height: 100%;
  background-color: var(--ctp-yellow);
  grid-column: 1/2;
  grid-row: 1/3;
}
#root > aside > section#sidebar-notes > ul > li > .controls {
  grid-column: 2/3;
  grid-row: 1/2;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--space-c)
}
#root > aside > section#sidebar-notes > ul > li > .controls > button{
  padding: var(--space-f) var(--space-a);
  border-radius: var(--radius);
}
#root > aside > section#sidebar-notes > ul > li > .controls > button:hover {
  background-color: var(--ctp-surface0);
}
#root > aside > section#sidebar-notes > ul > li > .controls > button > span {
  color: var(--ctp-subtext0);
  transform: rotate(90deg);
  display: inline-block; 
}
#root > aside > section#sidebar-notes > ul > li > .body {
  grid-column: 2/3;
  grid-row: 2/3;
  padding: var(--space-c);
  border-radius: var(--radius);
	background-color: transparent;
  display: grid;
  gap: var(--space-a);
  width: 95%;
}
#root > aside > section#sidebar-notes > ul > li > .body:has(:focus) {
  background-color: var(--ctp-surface0);
}
#root > aside > section#sidebar-notes > ul > li > .body > textarea {
  color: var(--ctp-text);
  background-color: var(--ctp-crust);
  grid-column: 1/-1;
  grid-row: 1/2;
  resize: none ;
  overflow: hidden;
  outline: none;
  width: 100%;
}
#root > aside > section#sidebar-notes > ul > li > .body > .ghost {
  opacity: 0%;
  pointer-events: none;
  user-select: none;
  grid-column: 1/-1;
  grid-row: 1/2;
  width: 100%;
}
#root > aside > section#sidebar-notes > ul > li > .body > .text-style {
  background-color: transparent;
  text-wrap: wrap;
  white-space: pre-wrap;
  word-break: break-word;
  font-size: var(--text-sm);
  font-family: var(--font-mono);
  font-weight: var(--font-weight-normal);
  line-height: 1;
  font-style: normal;
  padding: 0;
  margin: 0;
  border: 0;
}
#root > aside > section#sidebar-notes > .addnote {
	grid-column: 1/3;
	grid-row: 3/4;
	color: var(--ctp-text);
	padding: var(--space-a);
  	justify-self: end;
	/* padding:var(--space-a); */
}

#root > aside > section#sidebar-notes > .addnote:hover {
	background-color: var(--ctp-surface0);
    border-radius: var(--radius);
	cursor: pointer;
}

/* search */
#root > aside > section#sidebar-search {
	border: solid 1px var(--ctp-sky);
}

#root > aside > section#sidebar-search > header {
	grid-column: 1/2;
	grid-row: 1/2;
	color: var(--ctp-sky);
}

#root > aside > section#sidebar-search > .searchbar {
	grid-column: 1/3;
	grid-row: 2/3;
	background-color: var(--ctp-mantle);
    border-radius: var(--radius);
	border: 0;
	padding: var(--space-a);
}

#root > aside > section#sidebar-search > .submitSearch {
  	justify-self: end;
	grid-column: 2/3;
	grid-row: 3/4;
	color:var(--ctp-text);
    border-radius: var(--radius);
	padding: var(--space-a);
}

#root > aside > section#sidebar-search > .submitSearch:hover {
	cursor: pointer;
	background-color: var(--ctp-surface0);
}

#root > aside > section#sidebar-search > .expand {
	display: grid;
	grid-auto-flow: column;
	gap: var(--space-a);
	width: unset;
	height:100%;
  	justify-self: start;
	grid-column: 1/2;
	grid-row: 3/4;
}

#root > aside > section#sidebar-search > .expand > div {
	color:	var(--ctp-sky);
}

#root > aside > section#sidebar-search > .expand:has(.expanded) {
	background-color: var(--ctp-surface0);
	grid-row: 3/5;
}

#root > aside > section#sidebar-search > .filter-list {
	display: none;
	grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
	place-items: center;
	/* grid-auto-flow: column; */
	gap: var(--space-a);
	background-color: var(--ctp-surface0);
	padding: var(--space-a);
	border-radius: var(--radius);
}

#root > aside > section#sidebar-search > .filter-list.expanded {
	display: grid;
	grid-column: 1/3;
	grid-row: 4/5;
}

#root > aside > section#sidebar-search > .filter-list > li {
	padding: var(--space-c);
	border-radius: var(--radius);
}

#root > aside > section#sidebar-search > .filter-list > li:hover {
	cursor:pointer;
	background-color: var(--ctp-surface1);
}

#root > aside > section#sidebar-search > .filter-list > li:has(button.active) {
	background-color: var(--ctp-sky);
}

/* trending tags */
#root > aside > section#sidebar-trendingtags {
	border: solid 1px var(--ctp-mauve);
}

#root > aside > section#sidebar-trendingtags > header {
	grid-column: 1/2;
	grid-row: 1/2;
	color: var(--ctp-mauve);
}

#root > aside > section#sidebar-trendingtags > .tag-list {
	grid-column: 1/3;
	grid-row: 2/3;

	display: block;
  	/* grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr)); */
	/* place-items: center; */
	/* grid-auto-flow: column; */
	/* gap: var(--space-a);
	background-color: var(--dark-c);
	padding: var(--space-a);
	border-radius: 0.25cm; */
}

#root > aside > section#sidebar-trendingtags > .tag-list {
  	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: var(--space-a);
}

#root > aside > section#sidebar-trendingtags > .tag-list > li {
	width: max-content;
	padding: var(--space-c);
	background-color: var(--ctp-mantle);
	border-radius: var(--radius);
	display: grid;
	place-items: center start;
}

#root > aside > section#sidebar-trendingtags > .tag-list > li:hover {
	cursor:pointer;
	background-color: var(--ctp-crust);
}

#root > aside > section#sidebar-trendingtags > .tag-list > li.c0 {
	border: 1px solid  color-mix(in hsl, var(--hsl-magent), gray 50%);
	color: color-mix(in hsl, var(--hsl-magent), gray 50%);
}

#root > aside > section#sidebar-trendingtags > .tag-list > li.c1 {
	border: 1px solid  color-mix(in hsl, var(--hsl-purple), gray 50%);
	color: color-mix(in hsl, var(--hsl-purple), gray 50%);
}

#root > aside > section#sidebar-trendingtags > .tag-list > li.c2 {
	border: 1px solid  color-mix(in hsl, var(--hsl-blue), gray 50%);
	color: color-mix(in hsl, var(--hsl-blue), gray 50%);
}

#root > aside > section#sidebar-trendingtags > .tag-list > li.c3 {
	border: 1px solid  color-mix(in hsl, var(--hsl-teal), gray 50%);
	color: color-mix(in hsl, var(--hsl-teal), gray 50%);
}

#root > aside > section#sidebar-trendingtags > .tag-list > li.c4 {
	border: 1px solid  color-mix(in hsl, var(--hsl-miku), gray 50%);
	color: color-mix(in hsl, var(--hsl-miku), gray 50%);
}

#root > aside > section#sidebar-trendingtags > .tag-list > li.c5 {
	border: 1px solid  color-mix(in hsl, var(--hsl-jade), gray 50%);
	color: color-mix(in hsl, var(--hsl-jade), gray 50%);
}

#root > aside > section#sidebar-trendingtags > .tag-list > li.c6 {
	border: 1px solid  color-mix(in hsl, var(--hsl-green), gray 50%);
	color: color-mix(in hsl, var(--hsl-green), gray 50%);
}

#root > aside > section#sidebar-trendingtags > .tag-list > li.c7 {
	border: 1px solid  color-mix(in hsl, var(--hsl-lime), gray 50%);
	color: color-mix(in hsl, var(--hsl-lime), gray 50%);
}

#root > aside > section#sidebar-trendingtags > .tag-list > li.c8 {
	border: 1px solid  color-mix(in hsl, var(--hsl-yellow), gray 50%);
	color: color-mix(in hsl, var(--hsl-yellow), gray 50%);
}

#root > aside > section#sidebar-trendingtags > .tag-list > li.c9 {
	border: 1px solid  color-mix(in hsl, var(--hsl-orange), gray 50%);
	color: color-mix(in hsl, var(--hsl-orange), gray 50%);
}

#root > aside > section#sidebar-trendingtags > .tag-list > li.c10{
	border: 1px solid  color-mix(in hsl, var(--hsl-red), gray 50%);
	color: color-mix(in hsl, var(--hsl-red), gray 50%);
}

#root > aside > section#sidebar-trendingtags > .tag-list > li > button {
	color: inherit;
}

/* activities */
#root > aside > section#sidebar-recent-activities{
	border: solid 1px var(--ctp-peach);
}

#root > aside > section#sidebar-recent-activities > header {
	grid-column: 1/2;
	grid-row: 1/2;
	color: var(--ctp-peach);
}

#root > aside > section#sidebar-recent-activities > .see-more {
	padding: var(--space-a);
	color: var(--ctp-text);
	justify-self: end;
	grid-column: 2/3;
	grid-row: 1/2;
}

#root > aside > section#sidebar-recent-activities > .see-more:hover {
	cursor: pointer;
	background-color: var(--ctp-surface0);
    border-radius: var(--radius);
}

#root > aside > section#sidebar-recent-activities > ul {
	grid-column: 1/3;
	grid-row: 2/3;
	display:grid;
	gap: var(--space-a);
}

#root > aside > section#sidebar-recent-activities > ul > li {
	border-left: 2px solid var(--ctp-peach);
	padding: 0 var(--space-a);
	display: grid;
	gap: 0 var(--space-c);
	grid-template-columns: min-content min-content auto;
}

#root > aside > section#sidebar-recent-activities > ul > li:hover {
	cursor: pointer;
	background-color: var(--ctp-surface0);
}

#root > aside > section#sidebar-recent-activities > ul > li > :not(.time) {
	grid-row: 1/2;
}

#root > aside > section#sidebar-recent-activities > ul > li > .agent {
	color: var(--ctp-sapphire);
}

#root > aside > section#sidebar-recent-activities > ul > li > .content {
	color: var(--ctp-subtext0);
}

#root > aside > section#sidebar-recent-activities > ul > li > .time {
	grid-row: 2/3;
	font-size: var(--text-sm);
	color: var(--ctp-subtext0);
}