html {
	height: 100vh;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

select, ::picker(select) {
	appearance: base-select;
}

ol, ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

button {
	background: unset;
	border: unset;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
	height: 1em;
	font-weight: normal;
	padding: 0;
	padding-block: 0;
	margin: 0;
	margin-block: 0;
	margin-block-start: 0;
}
