@custom-variant dark (&:is(.dark *));

:root {
	/*===== Common CSS =====*/
	--font-size: 16px;
	/* Base spacing and typography tokens */
	--space-a: calc(2.5 * 0.25rem);
	/* 10px */
	--space-c: calc(1.5 * 0.25rem);
	/* 6px */
	--space-d: calc(4 * 0.25rem);
	/* 16px */
	--space-e: calc(0.25 * 0.25rem);
	/* 1px */

	/* Typography scale */
	--text-xs: 0.75rem;
	/* 12px */
	--text-sm: 0.875rem;
	/* 14px */
	--text-base: 1rem;
	/* 16px */
	--text-lg: 1.125rem;
	/* 18px */
	--text-xl: 1.25rem;
	/* 20px */
	--text-2xl: 1.5rem;
	/* 24px */

	/* Font weights */
	--font-weight-medium: 500;
	--font-weight-normal: 400;

	/* Font families */
	--font-mono: "Liberation Mono", monospace;

	/* Border radius */
	--radius: 0.625rem;

	--line-height: 1.5;

	/* School's blue accents*/
	--sig-blue: #1488DB;
	--sig-blue-deep: #030391;


	/*===== Colors =====*/
	/* Catppuccin Latte (Light Theme) - Surface Colors */
	--ctp-base: #eff1f5;
	--ctp-mantle: #e6e9ef;
	--ctp-crust: #dce0e8;
	--ctp-surface0: #ccd0da;
	--ctp-surface1: #bcc0cc;
	--ctp-surface2: #acb0be;
	--ctp-overlay0: #9ca0b0;
	--ctp-overlay1: #8c8fa1;
	--ctp-overlay2: #7c7f93;
	--ctp-text: #4c4f69;
	--ctp-subtext1: #5c5f77;
	--ctp-subtext0: #6c6f85;

	/* Catppuccin Latte - Accent Colors */
	--ctp-rosewater: #dc8a78;
	--ctp-flamingo: #dd7878;
	--ctp-pink: #ea76cb;
	--ctp-mauve: #8839ef;
	--ctp-red: #d20f39;
	--ctp-maroon: #e64553;
	--ctp-peach: #fe640b;
	--ctp-yellow: #df8e1d;
	--ctp-green: #40a02b;
	--ctp-teal: #179299;
	--ctp-sky: #04a5e5;
	--ctp-sapphire: #209fb5;
	--ctp-lavender: #7287fd;
}

.dark {

	/* Catppuccin Mocha (Dark Theme) - Surface Colors */
	--ctp-base: #11111b;
	--ctp-mantle: #1e1e2e;
	--ctp-crust: #181825;
	--ctp-surface0: #313244;
	--ctp-surface1: #45475a;
	--ctp-surface2: #585b70;
	--ctp-overlay0: #6c7086;
	--ctp-overlay1: #7f849c;
	--ctp-overlay2: #9399b2;
	--ctp-text: #cdd6f4;
	--ctp-subtext1: #bac2de;
	--ctp-subtext0: #a6adc8;

	/* Catppuccin Mocha - Accent Colors */
	--ctp-rosewater: #f5e0dc;
	--ctp-flamingo: #f2cdcd;
	--ctp-pink: #f5c2e7;
	--ctp-mauve: #cba6f7;
	--ctp-red: #f38ba8;
	--ctp-maroon: #eba0ac;
	--ctp-peach: #fab387;
	--ctp-yellow: #f9e2af;
	--ctp-green: #a6e3a1;
	--ctp-teal: #94e2d5;
	--ctp-sky: #89dceb;
	--ctp-sapphire: #74c7ec;
	--ctp-lavender: #b4befe;
}