html {
	--dark-a: #10101A;
	--dark-b: #1e1e2e;
	--dark-c: #313244;
	--dark-d: #6c7086;
	--light-a: #ffffff;
	--light-b: #cdd6f4;
	--light-blue: #89b4fa;
	--light-blue-20: oklab(76.642% -.0195548 -.109614 / .2);
	--light-blue-30: oklab(76.642% -.0195548 -.109614 / .3);
	--cyan: #1488db;
	--cyan-30: oklab(61.0324% -.0598051 -.144428 / .3);
	--cyan-50: #1488BB7D;
	--green: #a6e3a1;
	--green-10: oklab(85.7704% -.0869061 .0661681 / .1);
	--green-30: oklab(85.7704% -.0869061 .0661681 / .3);
	/* --space-a: 0.5cm; */
	--space-a: calc(2.5 * 0.25rem /* 5.6px */);
	--space-c: calc(1.5 * 0.25rem /* 5.6px */);
	--space-d: calc(4 * 0.25rem /* 5.6px */);
	/* tailwind start */
	--text-xs: 0.75rem /* 12px */;
	--text-sm: 0.875rem /* 14px */;
	--text-base: 1rem /* 16px */;
	/* tailwind end */
	--font-mono: "Liberation Mono";
}
