html {
	--dark-a: #10101A;
	--dark-b: #1e1e2e;
	--dark-c: #313244;
	--dark-d: #6c7086;
	--light-a: #ffffff;
	--light-b: #cdd6f4;
	--light-blue: #89b4fa;
	--light-blue-20: oklab(76.642% -.0195548 -.109614 / .2);
	--light-blue-30: oklab(76.642% -.0195548 -.109614 / .3);
	--cyan: #1488db;
	--cyan-30: oklab(61.0324% -.0598051 -.144428 / .3);
	--cyan-50: #1488BB7D;
	--green: #a6e3a1;
	--green-10: oklab(85.7704% -.0869061 .0661681 / .1);
	--green-30: oklab(85.7704% -.0869061 .0661681 / .3);
	--violet: #cba6f7;
	/* --space-a: 0.5cm; */
	--space-a: calc(2.5 * 0.25rem /* 5.6px */);
	--space-c: calc(1.5 * 0.25rem /* 5.6px */);
	--space-d: calc(4 * 0.25rem /* 5.6px */);
	--space-e: calc(0.25 * 0.25rem /* 5.6px */);
	/* tailwind start */
	--text-xs: 0.75rem /* 12px */;
	--text-sm: 0.875rem /* 14px */;
	--text-base: 1rem /* 16px */;
	/* tailwind end */
	--font-mono: "Liberation Mono";
}

html {
	--global-bg: var(--dark-a);
	--card-fg: var(--light-b);
	--card-fg-highlighted: var(--light-a);
	--card-fg-aux: var(--dark-d);
	--card-fg-accent-0: var(--cyan);
	--card-fg-accent-1: var(--light-blue);
	--card-fg-accent-1-20: var(--light-blue-20);
	--card-fg-accent-1-30: var(--light-blue-30);
	--card-fg-accent-1-40: var(--cyan-30);
	--card-fg-accent-2: var(--green);
	--card-fg-accent-2-10: var(--green-10);
	--card-fg-accent-2-30: var(--green-30);
	--card-fg-accent-3: var(--violet);
	--card-fg-suggestive: var(--cyan);
	--card-fg-suggestive-halftransparentlol: var(--cyan-50);
	--card-bg: var(--dark-b);
	--card-bg-translucent: var(--dark-a);
	--card-border: var(--dark-c);
	/* stupid */
	--card-fg-highlighted-dimmer: var(--light-b);
	--card-fg-unhighlighted: var(--dark-d);
	--card-border-20: oklab(61.0324% -.0598051 -.144428 / .2);
}
