
#root > main.edit *[hidden=true] {
  display:none;
}
/* temp */
#root > main.edit > .edit *{
  border: 1px solid var(--card-border);
  color: var(--ctp-text);
}


#root > main.edit > .edit {
  border: 1px solid var(--card-border);
}

#root > main.edit > .edit > header{
	display: grid;
  flex-wrap: wrap;
	flex-direction: row;
  padding: var(--space-a);
  border: 1px solid var(--card-border);
}