#root > nav {
	border: solid 1px var(--card-border);
  z-index: 9;
  position: relative;
	display: flex;
  flex-wrap: wrap;
	flex-direction: row;
	border-bottom: 1px solid var(--card-border);
	border-radius: 0.5rem 0.5rem;
	border-top: 1px solid var(--card-border);
	border-left: 1px solid var(--card-border);
	border-right: 1px solid var(--card-border);
	background-color: var(--card-bg-translucent);
	margin-left: var(--space-a);
	margin-right: var(--space-a);
}

#root > nav button {
	height: 2rem;
	color: var(--card-fg-unhighlighted);
	border-radius: 0.5rem;
	font-family: var(--font-mono);
	font-size: var(--text-sm);
	padding-left: var(--space-a);
	padding-right: var(--space-a);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	cursor: initial;
}

#root > nav button > label {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
}

#root > nav button:hover:not(.selected) > label {
	color: var(--card-fg-highlighted-dimmer);
}

#root > nav button.article > label:after {
	content: "article";
}

#root:lang(vi-VN) > nav button.article > label:after {
	content: "bài viết";
}

#root > nav button.edit > label:after {
	content: "editor";
}

#root:lang(vi-VN) > nav button.edit > label:after {
	content: "chỉnh sửa";
}

#root[data-tileset="gui"] > nav button.article > label::before {
	content: " ";
	display: inline-block;
	background-image: url("/assets/icon.document.cyan.svg");
	background-size: 1em 1em;
	width: 1em;
	height: 1em;
	margin-right: var(--space-c);
}

#root[data-tileset="gui"] > nav button.discussions > label::before {
	content: " ";
	display: inline-block;
	background-image: url("/assets/icon.comment.light-blue.svg");
	background-size: 1em 1em;
	width: 1em;
	height: 1em;
	margin-right: var(--space-c);
}

#root[data-tileset="gui"] > nav button.pullrequests > label::before {
	content: " ";
	display: inline-block;
	mask-image: url("/assets/icon.pullrequest.svg");
	background-color: var(--card-fg-accent-2);
	background-size: 1em 1em;
	width: 1em;
	height: 1em;
	margin-right: var(--space-c);
}

#root[data-tileset="gui"] > nav button.log > label::before {
	content: " ";
	display: inline-block;
	background-image: url("/assets/icon.timeback.violet.svg");
	background-size: 1em 1em;
	width: 1em;
	height: 1em;
	margin-right: var(--space-c);
}

#root > nav button > label,
#root[data-tileset="gui"] > nav button > label::before {
	transition-property: all;
	transition-duration: 300ms;
}

@media (prefers-reduced-motion) {
	#root > nav button > label,
	#root[data-tileset="gui"] > nav button > label::before {
		transition-property: none;
		transition-duration: unset;
	}
}

#root[data-tileset="gui"] > nav button > label::before {
	filter: grayscale(100%) brightness(100%);
}

#root[data-tileset="gui"] > nav button.pullrequests > label::before {
	filter: grayscale(100%) brightness(120%);
}

#root[data-tileset="gui"] > nav button:hover > label::before {
	filter: grayscale(100%) brightness(50%);
}

#root[data-tileset="gui"] > nav button.selected > label::before {
	filter: grayscale(0%) brightness(80%);
}

#root[data-tileset="gui"] > nav button.pullrequests.selected > label::before {
	filter: grayscale(0%) brightness(100%);
}

@media (prefers-color-scheme: dark) {
	#root[data-tileset="gui"] > nav button > label::before {
		filter: grayscale(100%) brightness(50%);
	}

	/* FIXME(kinten) */
	#root[data-tileset="gui"] > nav button.pullrequests > label::before {
		filter: grayscale(100%) brightness(45%);
	}

	#root[data-tileset="gui"] > nav button:hover > label::before {
		filter: grayscale(100%) brightness(120%);
	}

	#root[data-tileset="gui"] > nav button.pullrequests:hover > label::before {
		filter: grayscale(100%) brightness(100%);
	}

	#root[data-tileset="gui"] > nav button.selected > label::before {
		filter: grayscale(0%) brightness(100%);
	}
}

#root[data-tileset="gui"] > nav button.article > label::before {
	filter: grayscale(100%) brightness(140%);
}

#root[data-tileset="gui"] > nav button.article:hover > label::before {
	filter: grayscale(100%) brightness(70%);
}

@media (prefers-color-scheme: dark) {
	#root[data-tileset="gui"] > nav button.article > label::before {
		filter: grayscale(100%) brightness(70%);
	}

	#root[data-tileset="gui"] > nav button.article:hover > label::before {
		filter: grayscale(100%) brightness(140%);
	}
}

#root[data-tileset="gui"] > nav button.article.selected > label::before {
	filter: grayscale(0%);
}

#root > nav button.selected {
	color: var(--ctp-yellow);
	outline: solid 1px var(--ctp-yellow);
}

#root > nav button.article.selected {
	color: var(--card-fg-accent-0);
	outline: solid 1px var(--card-fg-accent-0);
}

#root > nav button.discussions.selected {
	color: var(--card-fg-accent-1);
	outline: solid 1px var(--card-fg-accent-1);
}

#root > nav button.pullrequests.selected {
	color: var(--card-fg-accent-2);
	outline: solid 1px var(--card-fg-accent-2);
}

#root > nav button.log.selected {
	color: var(--card-fg-accent-3);
	outline: solid 1px var(--card-fg-accent-3);
}

#root > nav button > data.count {
	font-size: var(--text-xs);
	padding: 0.1rem 0.3rem;
	margin-left: var(--space-c);
}

#root > nav button.discussions > data.count {
	outline: solid 1px var(--card-fg-accent-1-40);
	background-color: var(--card-fg-accent-1-30);
	color: var(--card-fg-accent-1);
}

#root > nav button.pullrequests > data.count {
	outline: solid 1px var(--card-fg-accent-2-30);
	background-color: var(--card-fg-accent-2-10);
	color: var(--card-fg-accent-2);
}

#root > nav button > data.count::before {
	content: "[";
}

#root > nav button > data.count::after {
	content: "]";
}
