@import "/styles/variables.css";
@import "/styles/widget-variables.css";

#root > header {
	background-color: var(--card-bg);
	border-color: var(--card-border-20);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	position: sticky;
	top: 0px;
	padding-left: var(--space-a);
	padding-right: var(--space-a);
	padding-top: 0;
	padding-bottom: 0;
	height: calc(1.5rem + 2 * var(--space-a));
	display: grid;
	grid-template-columns: max-content max-content minmax(0, 1fr) max-content max-content max-content max-content max-content;
	align-items: center;
	flex-direction: row;
	z-index:9999;
}

#root > header > :not(:first-child) {
	margin-left: var(--space-a);
}

#root > header > .logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-family: var(--font-mono);
}

#root:not([data-tileset="gui"]) > header > .logo::after {
	content: "bkhack";
}

#root[data-tileset="gui"] > header > .logo {
	content: " ";
	margin-left: var(--space-a);
	background-image: url("/assets/logo.svg");
	background-size: 6rem 1.7rem;
	width: 6rem;
	height: 1.7rem;
}

#root > header > a.place {
	font-size: var(--text-sm);
	font-family: var(--font-mono);
}

#root > header > a.place:nth-child(3) {
	grid-column-start: 4;
}

#root > header > a.place.projects::before {
	content: "projects";
}

#root:lang(vi-VN) > header > a.place.projects::before {
	content: "dự án nguồn mở";
}

#root > header > a.place.wiki::before {
	content: "wiki";
}

#root:lang(vi-VN) > header > a.place.wiki::before {
	content: "thư viện";
}

#root > header > a.place.notifications::before {
	content: "notifications";
}

#root:lang(vi-VN) > header > a.place.notifications::before {
	content: "thông báo";
}

#root > header > a.place.settings::before {
	content: "settings";
}

#root:lang(vi-VN) > header > a.place.settings::before {
	content: "cài đặt";
}

#root > header > a.place.auth::before {
	content: "login";
}

#root:lang(vi-VN) > header > a.place.auth::before {
	content: "đăng nhập";
}

#siteNavigator.error {
	background-color: red;
}

dialog {
	margin: 0;
	position: relative;
	height: 0;
	width: 0;
	padding: 0;
	border: 0;
	transition: none;
	overflow: visible;
}

dialog > div {
	width: 20rem;
	height: fit-content;
	max-height: 10rem;
	overflow-y: auto;
	background-color: white;
	border: solid 1px #ddd;
	border-radius: var(--radius);
}
