@import "/styles/variables.css";
@import "/styles/widget-variables.css";

.markdown > *{
 font-size: var(--text-base);
 color: var(--ctp-text);
 line-height: 1.5;
 padding: 0;
 margin: 0;
}
.markdown > h{
 font-size: var(--text-2xl);
}
.markdown > a{
 color: var(--sig-blue);
 text-decoration: underline;
}